@page "/debts"
<main>
    <div class="page flex-row">

        <div class="sidebar">
            <NavMenu />
        </div>

        <div class="content">
            <div class="flex-row">
                <h1>Debts</h1>
            </div>
        </div>
    </div>
</main>