@page "/login"
@using DataModel.Model
<body>
    <div class="login-container">
        <div class="login-content">
            <div class="left-section">
                <h1>Enter Your Credentials</h1>
                <p>Please enter your username and password to login.</p>
            </div>
            <div class="right-section">
                <div class="logo">MONETA</div>
                <form class="login-form" @onsubmit = "HandelLogin">
                    <label for="username">Username</label>
                    <input type="text" @bind="users.Username" placeholder="Enter your username" required/>

                    <label for="password">Password</label>
                    <input type="password" @bind="users.Password" placeholder="Enter your password" required>

                    <label for="currency">Currency</label>
                    <select id="currency"
                            class="mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm" @bind="users.Currency" required>
                        <option value="">Choose an option</option>
                        @foreach (var curreny in Enum.GetValues(typeof(Currency)))
                        {
                            <option value="@curreny">@curreny</option>
                        }
                    </select>

                    @if (!string.IsNullOrEmpty(errorMessage))
                    {
                        <MudAlert Severity="Severity.Error" ShowCloseIcon="true" CloseIconClicked="(() => CloseMe())">@errorMessage</MudAlert>
                    }
                    <button type="submit">Login</button>
                </form>
            </div>
        </div>
    </div>
</body>
