body.page {
    display: flex;
    height: 100vh;
}

.sidebar {
    width: 250px;
    padding: 20px;
}

.content {
    flex-grow: 1;
    padding: 20px;
    background-color: #ffffff;
}

.flex-row {
    display: flex;
    justify-content: space-between;
}

.justify-content-center {
    justify-content: center;
}
