@* <div class="Nav"> *@
@*     <div class="sidebar"> *@
@*         <div class="logo">Moneta</div> *@
@*         <ul class="menu"> *@
@*             <li><NavLink herf="#">Cash Inflow</NavLink></li> *@
@*             <li><NavLink herf="#">Cash Outflow</NavLink></li> *@
@*             <li><NavLink herf="#">Debts</NavLink></li> *@
@*             <li><NavLink herf="#">Stats</NavLink></li> *@
@*         </ul> *@
@*     </div> *@
@* </div> *@


<MudPaper Width="250px" Class="d-inline-flex py-3" Elevation="0">
    <MudNavMenu Class="mud-width-full">
        <MudText Typo="Typo.h6" Class="px-4">Moneta</MudText>
        <MudText Typo="Typo.body2" Class="px-4 mud-text-secondary">Manage your Money</MudText>
        <MudDivider Class="my-2" />
        <MudNavLink Href="/cashinflow" Icon="@Icons.Material.Filled.AttachMoney">Cash Inflow's</MudNavLink>
        <MudNavLink Href="/cashOutflow" Icon="@Icons.Material.Filled.AttachMoney" IconColor="Color.Error">Cash Outflow's</MudNavLink>
        <MudNavLink Href="/debts" Icon="fas fa-hand-holding-dollar">Debts</MudNavLink>
        <MudNavLink Href="/stats" Icon="@Icons.Material.Filled.Receipt">Stats</MudNavLink>
        <MudNavLink Href="/logout" Icon="@Icons.Material.Filled.Logout">Logout</MudNavLink>
    </MudNavMenu>
</MudPaper>